
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.upper {
    background-color: #3877ff;
    color: black;
    padding: 20px;
    flex: 0 0 25%;
    box-sizing: border-box;
}

.upper h2 {
    
    font-size: 2em;
    margin-bottom: 10px;
}

.upper p {
    font-size: 1.2em;
    line-height: 1.5;
}

.lower {
    background-color: #262525;
    color: white;
    padding: 20px;
    flex: 1;
    box-sizing: border-box;
    overflow-y: auto;
}

.lower h3 {
    font-size: 1.8em;
    margin-bottom: 10px;
}

.lower p {
    font-size: 1.1em;
    line-height: 1.6;
}
